// Global site tag (gtag.js) - Google Analytics
script(async src='https://www.googletagmanager.com/gtag/js?id=UA-142455164-1')
script(src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js')
script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-142455164-1');
meta(charset='utf-8')
meta(name='viewport', content='width=device-width initial-scale=1')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
// Materialize - Compiled and minified CSS
link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css')

// Font Awesome Icon - CSS
link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
// Custom Styles
link(rel='stylesheet', href='static/css/style.css')
title Simrat Pal Singh Satia | Software Developer and Technology Enthusiast
// Open Graph
meta(property='og:locale', content='en_US')
meta(property='og:type', content='website')
meta(property='og:title', content='Simrat Pal Singh Satia | Software Developer and Technology Enthusiast')
meta(property='og:description', content='Simrat Pal Singh Satia - Portfolio')
meta(property='og:url', content='simratpalsinghsatia.com')
meta(property='og:site_name', content='Simrat Pal Singh Satia | Software Developer and Technology Enthusiast')
meta(property='article:publisher', content='simratpalsinghsatia.com')
meta(property='og:image', content='static/img/siddharth-verma2.jpg')
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='@simratsatia')
meta(name='twitter:title', content='Simrat Pal Singh Satia | Software Developer and Technology Enthusiast')
meta(name='twitter:description', content='Simrat Pal Singh Satia - Portfolio')
meta(name='twitter:url', content='simratpalsinghsatia.com')
meta(name='author', content='Simrat Pal Singh Satia')
meta(name='description', content='Simrat Pal Singh Satia - Portfolio')
<link rel="apple-touch-icon" sizes="180x180" href="static/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="192x192" href="static/img/favicon/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="static/img/favicon/android-chrome-512x512.png">
<link rel="manifest" href="static/img/favicon/site.webmanifest">
meta(name='robots', content='index, follow')
meta(name='google-site-verification', content='UWT_iv-e8zx-GsOxxcxFOAdCYiqBtJDT86Kd9Q9Pxdc')
