//Top Navigation Menu
nav(ng-class='hide-on-small-only')
    div.nav-wrapper
        ul#nav-mobile.right
            li
                a(href='#')
                    i.blue-text.text-darken-4.fa.fa-github.fa-1x
            li
                a(href='#')
                    i.blue-text.text-darken-4.fa.fa-linkedin.fa-1x
            li
                a(href='#')
                    i.blue-text.text-darken-4.fa.fa-facebook.fa-1x
            li
                a(href='#')
                    i.blue-text.text-darken-4.fa.fa-instagram.fa-1x