section#about.section.scrollspy
  h3.page-title.white-text.blue.darken-4 About
  .container.flow-text
    blockquote
      h2 Software Engineer

    p
      | Having started my tango with computers at an early age with C++/QBasic in school, my University courses on Artifial Intelligence, Machine Learning, Operating System, Database, Data Structures and Algorithms brought out a great deal of passion for the Computer discipline. This allowed me to dive deeper into the research field with notable publications on contemporary issues such as Smartphone and PUBG Addition. 
    p
      | Post Uni, I joined Microsoft IDC as SDE to venture into the field of technical industry. Through my 3+ years of experience, I have honed my technical accumen through various projects, often lauded for excellent context switching between them and showcasing tremendous ownership, which led to being rewarded with promotions every consecutive year.
    p 
      | Exceedingly passionate about learning new technologies. Also, sharing keen interest in helping others grow through mentorship. Looking forward to new opportunities and challenges that help me grow not just as an engineer but as a technology enthusiast.