section#awards.section.scrollspy
  h3.page-title.white-text.blue.darken-4 Recognition
  .container
    .row
      // Hackathon
      .col.s12.m7.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Microsoft Hackathon', src='static/img/hackathon.png')
          .card-content
            span.card-title.activator.blue-text.text-darken-4.hoverline Microsoft Hackathon 2022
              i.mdi-navigation-more-vert.right
            p Top 4/526 | Azure Quality | Self-Serve Image Validation
          .card-reveal
            span.card-title.brown-text Info
              i.mdi-navigation-close.right
            ul
              li Run custom tests and vulnerability scans on Azure SIG Images
              li Built on Azure Portal and C# backend with RPaaS validation

      // Customer Obsession
      .col.s12.m7.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Microsoft Customer Obsession Award', src='static/img/customer-obsessed.png')
          .card-content
            span.card-title.activator.blue-text.text-darken-4.hoverline Customer Obsession
              i.mdi-navigation-more-vert.right
            p Microsoft Cultural Award 2022
          .card-reveal
            span.card-title.brown-text Info
              i.mdi-navigation-close.right
            ul
              li Understand customer needs and remove barriers to customer satisfaction
              li Improved monitoring, LSI/CRI (incidents) reduction by 60%

      // One Microsoft
      .col.s12.m7.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Microsoft One Microsoft Award', src='static/img/one-microsoft.png')
          .card-content
            span.card-title.activator.blue-text.text-darken-4.hoverline One Microsoft
              i.mdi-navigation-more-vert.right
            p Microsoft Cultural Award 2020
          .card-reveal
            span.card-title.brown-text Info
              i.mdi-navigation-close.right
            ul
              li Collaborating across groups, encouraging sharing of information and diverse perspectives and contributing to other's success for greater business impact.
              li Go-to person for Geneva Monitoring for RHUI/WorkloadBuilder
              li Load Simulator Tool forming foundation for AzQualify team
    
        // Team C Hackathon
      .col.s12.m7.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Team C Hackathon', src='static/img/teamc-hackathon.png')
          .card-content
            span.card-title.activator.blue-text.text-darken-4.hoverline Team C Hackathon
              i.mdi-navigation-more-vert.right
            p Top 20/600+ for Teacher Retention Attrition Model
          .card-reveal
            span.card-title.brown-text Info
              i.mdi-navigation-close.right
            ul
              li Built using various machine learning algorithms with accuracy of 90%
              li Built on Python, Java, JS, CSS
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the research article', href='https://ieeexplore.ieee.org/document/8940486', target='_blank', data-position='top', data-tooltip='View Online')
                i.fa.fa-external-link
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for the code', href='https://github.com/simratsatia/Teacher-Retention-Attrition-Prediction-Model', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-github

