section#contact.section.scrollspy.full-height
  h3.page-title.white-text.blue.darken-4 Contact
  .container
    .row
      .col.s12.m6
        p
          a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Email Siddharth', href='mailto:siddharth.verma60@gmail.com', data-position='top', data-tooltip='Email Siddharth')
            i.fa.fa-envelope
            a.hoverline(alt='', href='mailto:verma.siddharth1201@gmail.com') verma.siddharth1201@gmail.com
      .col.s12.m6  
        p
          a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='View Siddharth on GitHub', href='http://github.com/siddharth-verma60', target='_blank', data-position='top', data-tooltip='View Siddharth on GitHub')
            i.fa.fa-github
            a.hoverline(alt='', href='http://github.com/siddharth-verma60') github.com/siddharth-verma60
    
    .row
      .col.s12.m6
        p
          a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='View Siddharth on LinkedIn', href='http://linkedin.com/in/siddharthverma1201', target='_blank', data-position='top', data-tooltip='View Siddharth on LinkedIn')
            i.fa.fa-linkedin
            a.hoverline(alt='', href='http://linkedin.com/in/siddharthverma1201') linkedin.com/in/siddharthverma1201
      .col.s12.m6
        p
          a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='View Siddharth on Instagram', href='https://www.instagram.com/sidv1201/', target='_blank', data-position='top', data-tooltip='View Siddharth on Instagram')
            i.fa.fa-instagram
            a.hoverline(alt='', href='https://www.instagram.com/sidv1201/') instagram.com/sidv1201

