section#education.section.scrollspy
  h3.page-title.white-text.blue.darken-4 Education
  .container
    .row
      .card
        .card-content
          .col.s12.m6
            p
              span.card-title
                a.blue-text.text-darken-4.hoverline(href='http://www.nsit.ac.in', target='_blank') University of Delhi (2015-2019)
            p.brown-text Netaji Subhas Institute of Technology (NSIT), Delhi, India
            ul
              li Bachelor of Engineering in Computer Engineering
              li GPA: 8.1
              li Awarded 
                b First-Class 
              li 
                b Research and Patent Award 
                | Grant of Rs 10k for distinguished research

          .col.s12.m6
            h6 
              b Relevant Coursework:
            ul
              li Discrete Mathematics and Design of Algorithms
              li Expert Systems
              li Engineering Mathematics
              li Artificial Intelligence
              li Operating Systems
              li Computer Graphics
              li Database Systems
              br
              
    .card
      .card-content
        p
          span.card-title
            a.blue-text.text-darken-4.hoverline(href='http://cbse.nic.in/', target='_blank') Central Board of Secondary Education (2015)
        p.brown-text Mata Jai Kaur Public School, Delhi, India.
        ul
          li High School Secondary Education
          li Percentage: <b>96.60%</b> (Standard XII - AISSCE) - <b>1st Position/150</b>
          li <b>Principal's Award</b> for Overall Excellence, Community Outreach Award
          li RK Saxena Memorial Award for highest in Mathematics
          li Relevant Coursework: Physics, Chemistry, Mathematics