section#experience.section.scrollspy
  h3.page-title.white-text.blue.darken-4 Experience
  .container

    //- Microsoft IDC - Software Engineer
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='https://www.microsoft.com/', target='_blank')
              img.responsive-img.center-block(alt='Microsoft logo', src='static/img/microsoft_logo.png')
          .col.s12.m10
            p
              span.card-title
                a.blue-text.text-darken-4.hoverline(href='https://www.microsoft.com/', target='_blank') Microsoft IDC
        .role.brown-text Senior Software Engineer(Level 63)
        p
          em.grey-text AzLinux, Azure Core Compute Team
        ul
          li <b>To Be Updated</b> <i>To Be Updated</i> To Be Updated     
          li <b>RedHat On Azure</b> - add link <i>1M+ VM Cores</i> | Developing and maintaing products for image building | Verticals scaling of infrastructure
          li <b>Azure Hybrid Benefit for BYOS</b> <i>(License Management)</i> (link) | E2E ownership of design, implementation and boundaryless collaboration across stakeholders
          li <b>Geneva Monitoring</b> <i>(Cloud Service Telemetry Platform)</i> | Integrated all Azlinux projects | Conducted session as SME with 50+ Azure-wide audience
          li <b>UIAutomationTool</b> <i>(Web Experience Automation)</i> | E2E ownership of design and implementation
          li <b>Load Simulation Tool</b> <i>(Stress Testing Tool)</i> | Contributed to design and development fo stress testing across CPU, Memory and Disk utlization
      .card-action
        span July 2019 - Present  |  Noida, Delhi, India

    //- Microsoft - SDE Intern
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='https://www.microsoft.com/', target='_blank')
              img.responsive-img.center-block(alt='Microsoft logo', src='static/img/microsoft_logo.png')
          .col.s12.m10
            p
              span.card-title
                a.blue-text.text-darken-4.hoverline(href='https://www.microsoft.com/', target='_blank') Microsoft IDC
        .role.brown-text Software Development Intern
        p
          em.grey-text Microsoft Excel Android App Development
        ul
          li Developed snipping feature for Excel that converts a selected range of cells to snippet/image
          li E2E ownership of code design, UI/UX design and implementation
          li Worked with Java, Android Studio
          li Received a pre-placement offer for the profile of Software Development Engineer.
      .card-action
        span June 2018 - July 2018  |  Hyderabad, India

    //- NSIT-Research Assistant
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://www.nsit.ac.in/', target='_blank')
              img.responsive-img.center-block(alt='NSIT logo', src='static/img/nsit_logo.png')
          .col.s12.m10
            p
              span.card-title
                a.blue-text.text-darken-4.hoverline(href='http://www.nsit.ac.in/', target='_blank') Netaji Subhas Institute of Technology
        .role.brown-text Research Assistant
        h6 Pilot Study to Predict Smartphone Addiction Through Usage Pattern of Installed Android Applications and to Derive Correlations Between Addiction and Phone Usage Behavior
        ul
          li Collect app usage patterns and categorize all apps into five buckets: social, entertainment, utility, gaming, and shopping/food and beverage. 
          li Predict smartphone addiction using supervised machine-learning algorithms.
          li Gender-wise variations of smartphone usage patterns and explicit parallelism between usage patterns of addicted and non-addicted users.
          li Research article published at Journal on Addictions, 9(1), 63-74.
        h6 Predicting likelihood of psychological disorders in PlayerUnknown’s Battlegrounds (PUBG) players from Asian countries using supervised machine learning
        ul
          li Predict IGD, ADHD, and GAD of gaming players with an accuracy of 93.18%, 81.81% and 84.9% respectively.
          li Game statistics of PUBG players show strong positive correlation with IGD and ADHD indicating detrimental effects of MOBA games.
          li Research article published at Addictive behaviors, 101, 106132.
        br
        b Supervisor: 
        a.supervisor(href='http://www.nsit.ac.in/faculty/swa', target='_blank') Dr. Swati Aggarwal, Assistant Professor, Computer Engineering Department, NSIT
      .card-action
        span January 2017 - May 2018 |  Delhi, India
