section#hobbies.section.scrollspy
  h3.page-title.white-text.blue.darken-4 Hobbies
  .container.flow-text
    h4 Guitarist/Singer
    p
      | I have a 3 year certification in classical singing from Prayag. Self-learned guitarist with keen interest in fingerstyle pattern. 
      | You can visit my YouTube/Instagram page :)
    .row
      .col.s12.m6.l4
        .card.medium
            .card-image.waves-effect.waves-block.waves-light
              a(aria-label='Go To Instagram Page', href='https://www.instagram.com/tv/CbnNBGOuHx7/?utm_source=ig_web_copy_link', target='_blank', data-position='top', data-tooltip='View Source')
                img(src="static/img/canthelpfalling.png")
            .card-content
              span.card-title.blue-text.text-darken-4.hoverline Can't Help Falling In Love
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Go To Instagram Page', href='https://www.instagram.com/tv/CbnNBGOuHx7/?utm_source=ig_web_copy_link', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-instagram

      //- .col.s12.m6.l4
      //-   .card.small
      //-     .card-image 
      //-       .video-container
      //-         | <iframe src="https://www.youtube.com/embed/rMc8hhb2Aec" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          

      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            a(aria-label='Go To YouTube Page', href='https://www.youtube.com/watch?v=rMc8hhb2Aec&ab_channel=SimratpalSinghSatia', target='_blank', data-position='top', data-tooltip='View Source')
              img(src="static/img/terazikr.jpg")
          .card-content
            span.card-title.blue-text.text-darken-4.hoverline Tera Zikr - Darshan Raval
          .card-action
            a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Go To YouTube Page', href='https://www.youtube.com/watch?v=rMc8hhb2Aec&ab_channel=SimratpalSinghSatia', target='_blank', data-position='top', data-tooltip='View Source')
              i.fa.fa-youtube

      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            a(aria-label='Go To Instagram Page', href='https://www.instagram.com/tv/CbAlQlGIZuP/?utm_source=ig_web_copy_link', target='_blank', data-position='top', data-tooltip='View Source')
              img(src="static/img/saajna.png")
          .card-content
            span.card-title.blue-text.text-darken-4.hoverline Saajna - Falak Shabir
          .card-action
            a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Go To Instagram Page', href='https://www.instagram.com/tv/CbAlQlGIZuP/?utm_source=ig_web_copy_link', target='_blank', data-position='top', data-tooltip='View Source')
              i.fa.fa-instagram

    h4 Writer
    p
      | As Managing Editor of <a href="https://alliancensut.com/">The Alliance, NSUT's Newspaper</a>, I've spearheaded a team of 40+ individuals and published over 20+ Editions. 
      | You can check out the editions <a href="https://alliancensut.com/our-editions/">here</a>. <br>
      | Some of my written pieces: 
    
    .row
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            a(aria-label='Go To Facebook Page', href='https://www.facebook.com/photo/?fbid=1479369055464647&set=a.452963338105229', target='_blank', data-position='top', data-tooltip='View Source')
              img(src="static/img/burntpages.jpg")
          .card-content
            span.card-title.blue-text.text-darken-4.hoverline Burnt Pages
          .card-action
            a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Go To Facebook Page', href='https://www.facebook.com/photo/?fbid=1479369055464647&set=a.452963338105229', target='_blank', data-position='top', data-tooltip='View Source')
              i.fa.fa-facebook

      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            a(aria-label='Go To Facebook Page', href='https://www.facebook.com/photo.php?fbid=579780239022097&set=pb.100009703778979.-2207520000.&type=3', target='_blank', data-position='top', data-tooltip='View Source')
              img(src="static/img/emptybeds.jpg")
          .card-content
            span.card-title.blue-text.text-darken-4.hoverline Empty Beds
          .card-action
            a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Go To Facebook Page', href='https://www.facebook.com/photo.php?fbid=579780239022097&set=pb.100009703778979.-2207520000.&type=3', target='_blank', data-position='top', data-tooltip='View Source')
              i.fa.fa-facebook

      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            a(aria-label='Go To Alliance Page', href='https://alliancensut.com/download/editions/The-Alliance-17.1.pdf', target='_blank', data-position='top', data-tooltip='View Source')
              img(src="static/img/alliance.png")
          .card-content
            span.card-title.blue-text.text-darken-4.hoverline Fresher's Edition
          .card-action
            a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Go To Alliance Page', href='https://alliancensut.com/download/editions/The-Alliance-17.1.pdf', target='_blank', data-position='top', data-tooltip='View Source')
              i.fa.fa-eye

    h4 Chess Player
    p
      | Played over 2000+ games with a rating of 1420. Perhaps we can connect over a game of chess?
    .row
      .col.s12.m6.l4
        .card.small
          .card-image.waves-effect.waves-block.waves-light
            a(aria-label='Go To Chess Profile', href='https://www.chess.com/member/simratsatia123', target='_blank', data-position='top', data-tooltip='View Source')
              img(src="static/img/chess.jpg")
          .card-content
            span.card-title.blue-text.text-darken-4.hoverline @simratsatia123
          .card-action
            a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Go To Chess Profile', href='https://www.chess.com/member/simratsatia123', target='_blank', data-position='top', data-tooltip='View Source')
              i.fa-solid.fa-chess



