section#intro.section.scrollspy
  //- .container(style="border-style:solid;border-color:black;")
  .container
    .row
      .col.s12.m6.l6.xl6
          h2
            | <i>Hi there</i>,
          p.flow-text
            | I am <b>Simrat Pal Singh Satia</b>, a passionate software engineer with expertise in designing large scale distributed systems, cloud computing architecture and linux. I've enjoyed turning  complex problems into simple, beautiful and intuitive designs. When not coding, you'll find me humming tunes on my guitar or buried in a novel. 
            | If you've come this far, do reach out to me :) 
          .row
            .col.s2.m2.l1
              a(aria-label='Open Simrat\'s resume in a new tab', href='static/Simrat_Pal_Singh_Resume.pdf', target='_blank')
                i.fa-regular.fa-file.fa-2x
            .col.s2.m2.l1
              a(href='https://github.com/simratsatia', target='_blank')
                  i.fa.fa-github.fa-2x
            .col.s2.m2.l1
              a(href='https://linkedin.com/in/simratsatia', target='_blank')
                  i.fa.fa-linkedin.fa-2x
            .col.s2.m2.l1
              a(href='mailto:simratsatiaofficial@gmail.com', target='_blank')
                  i.fa.fa-envelope.fa-2x
            .col.s2.m2.l1
              a(href='https://www.facebook.com/profile.php?id=100009703778979', target='_blank')
                  i.fa.fa-facebook.fa-2x
            .col.s2.m2.l1
              a(href='https://www.instagram.com/simrat_pal05/', target='_blank')
                        i.fa.fa-instagram.fa-2x
          //- a.waves-effect.waves-light.btn(aria-label='Open Simrat\'s resume in a new tab', href='static/Simrat_Pal_Singh_Resume.pdf', target='_blank')
          //-   i.mdi-action-description.small CV
          
            
      .col.s12.m6.l6.xl6.valign-wrapper
        img.responsive-img.center-align.circle(src="static/img/simrat-pal-singh.jpeg" style="margin-top:30px;margin-bottom:30px;")
        //- lottie-player.responsive-img.center-align(src="static/lottie/coding3.json" background="##ffffff"  speed="1"  autoplay loop)

    
  

