section#intro.section.scrollspy.full-height
  .container(style="border-style:solid;border-color:black;")
    
    //- //custom navbar
    //- .row
    //-   nav(style="height:30px;")
    //-       div.nav-wrapper
    //-           ul#nav-mobile.right
    //-               li
    //-                   a(href='#')
    //-                       i.fa.fa-github.fa-2x
    //-               li
    //-                   a(href='#')
    //-                       i.fa.fa-linkedin.fa-2x
    //-               li
    //-                   a(href='#')
    //-                       i.fa.fa-facebook.fa-2x
    //-               li
    //-                   a(href='#')
    //-                       i.fa.fa-instagram.fa-2x
    .row
      .col.s12.m6.l6.xl6(style="border-style:solid;border-color:black;")
          h2
            | <i>Hi there</i>,
          p
            | I am <b>Simrat Pal Singh Satia</b>, a passionate software engineer with expertise in designing large scale distributed systems, cloud computing architecture and linux. Keen contributor to the Open Source Community. Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
            
        .col.s12.m6.l6.xl6(style="border-style:solid;border-color:black;")
          lottie-player.responsive-img.center-align(src="static/lottie/coding3.json" background="##ffffff"  speed="1"  autoplay loop)

  //- div.row
  //-   div.column(style="padding:20px;")
  //-     h2
  //-       | <i>Hi there</i>,
  //-     .container.flow-text
  //-     p(style="font-size:large; font:helvetica; vertical-align: middle")
  //-       | I am <b>Simrat Pal Singh Satia</b>, a passionate software engineer with expertise in designing large scale distributed systems, cloud computing architecture and linux. Keen contributor to the Open Source Community. Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
        
  //-   div.column(style="padding:20px")
  //-     lottie-player(src="static/lottie/coding3.json" background="##ffffff"  speed="1"  autoplay loop)
    
    
  

