section#projects.section.scrollspy
  h3.page-title.white-text.blue.darken-4 Projects
  .container
    .row
      // UI Automation Framework
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='UI Automation Logo', src='static/img/ui-automation-logo.png')
          .card-content
            span.card-title.activator.blue-text.text-darken-4.hoverline UI Automation Tool
              i.mdi-navigation-more-vert.right
            p Fully extensible web automation framework capable of performing e2e testing of any website's UI
          .card-reveal
            span.card-title.brown-text Features
              i.mdi-navigation-close.right
            ul
              li Ejs Template for controls and navigation utilities
              li Extensibility to add controls and include/update their functions
              li Automate login into websites and use saved context for subsequent sessions
              li Built on Puppeteer, NodeJs, Typescript, Mocha
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for the code', href='https://github.com/Azure/UIAutomationFramework', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-github

      // Activity Tracker
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Activity Tracker', src='static/img/activity-tracker.jpg')
          .card-content
            span.card-title.activator.blue-text.text-darken-4.hoverline Activity Tracker
              i.mdi-navigation-more-vert.right
            p Android application tracking phone usage dynamically
          .card-reveal
            span.card-title.brown-text Features
              i.mdi-navigation-close.right
            ul
              li Consumes Usage Stats API
              li Collects features such as call duration, screen on/off time, app duration 
              li Developed on Java, Android Studio
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the research article', href='https://www.addicta.com.tr/Content/files/sayilar/32/ADDCT_April_2022-82-94.pdf', target='_blank', data-position='top', data-tooltip='View Online')
                i.fa.fa-external-link
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for the code', href='https://github.com/simratsatia/Activity-Tracker/', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-github

      //ChatBot
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Chatbot', src='static/img/chatbot.jpg')
          .card-content
            span.card-title.activator.blue-text.text-darken-4.hoverline Chatbot - Talk to Me
              i.mdi-navigation-more-vert.right
            p Chatbot built using Deep Learning and NLP
          .card-reveal
            span.card-title.brown-text Features
              i.mdi-navigation-close.right
            ul
              li Implemented using Seq2Seq model of 2 RNN in LSTM
              li Trained using Cornell Movie Corpus data
              .card-action
                a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the Quoko website', href='https://github.com/simratsatia/Chatbot', target='_blank', data-position='top', data-tooltip='View Online')
                  i.fa.fa-external-link

      // Handwriting Recognition Model
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Handwriting Recognition Model', src='static/img/handwriting-recognition.jpg')
          .card-content
            span.card-title.activator.blue-text.text-darken-4.hoverline Handwriting Recognition Model
              i.mdi-navigation-more-vert.right
            p Convert the handwritten content A-Z0-9 to text using ANN 
          .card-reveal
            span.card-title.brown-text Features
              i.mdi-navigation-close.right
            ul
              li ANN consists of 3 layers: input, hidden and output layer
              li Uses forward and back propagation with 99.98% accuracy
              li Built on MATLAB
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for the code', href='https://github.com/simratsatia/Handwriting-Prediction-Model', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-github
                
      // Teacher Retention Attrition Model
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Teacher Retention Attrition Model', src='static/img/teacher-retention.jpg')
          .card-content
            span.card-title.activator.blue-text.text-darken-4.hoverline Teacher Retention/Attrition Model
              i.mdi-navigation-more-vert.right
            p Predicts the likelihood of a teacher to leave her present school
          .card-reveal
            span.card-title.brown-text Features
              i.mdi-navigation-close.right
            ul
              li Built using various machine learning algorithms with accuracy of 90%
              li Presented in Hackathon NSIT 2018, Top 20/500+ teams
              li Built on Python, Java, JS, CSS
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the research article', href='https://ieeexplore.ieee.org/document/8940486', target='_blank', data-position='top', data-tooltip='View Online')
                i.fa.fa-external-link
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for the code', href='https://github.com/simratsatia/Teacher-Retention-Attrition-Prediction-Model', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-github

      // Casino Simulation
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Casino Simulation', src='static/img/casino_simulation.jpg')
          .card-content
            span.card-title.activator.blue-text.text-darken-4.hoverline Casino Simulation
              i.mdi-navigation-more-vert.right
            p Four famous Casino games were simulated: Pot, Baccarat, Roulette, Sicbo

          .card-reveal
            span.card-title.brown-text Features
              i.mdi-navigation-close.right
            ul
              li The game logic was written in Microsoft Excel and Visual Basic
              li Presented the game in NSIT Resonance, 2016
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for Casino Simulation project', href='https://github.com/simratsatia/Casino-Based-Simulation-Games', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-github

