section#research.section.scrollspy
  h3.page-title.white-text.blue.darken-4 Research
  .container

    //- Publications
    .card
      .card-content
        h4.brown-text.light Publications
        .row
        ul
          li Aggarwal, S., Gupta, S., Satia, S.P.S., Saluja, S. and Gambhir, V., 2022. Through Usage Pattern of Installed Android Applications and to Derive Correlations Between Addiction and Phone Usage Behavior. Journal on Addictions, 9(1), pp.63-74.
          li  Aggarwal, S., Saluja, S., Gambhir, V., Gupta, S. and Satia, S.P.S., 2020. Predicting likelihood of psychological disorders in PlayerUnknown’s Battlegrounds (PUBG) players from Asian countries using supervised machine learning. Addictive behaviors, 101, p.106132.
          li Satia, S.P.S., Miglani, V. and Gambhir, V., 2019, September. Teacher Attrition Prediction Model and Analysis of the Associated Factors. In 2019 International Conference on Computing, Power and Communication Technologies (GUCON) (pp. 458-462). IEEE.
