section#skills.section.scrollspy
  h3.page-title.white-text.blue.darken-4 Skills
  .container

    //- Programming Languages
    .card
      .card-content
        h4.brown-text.light Programming Languages
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/java.png')
            | Java
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/python.png')
            | Python
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/go.png')
            | Golang
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/cpp.png')
            | C++
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/csharp.png')
            | C#
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/typescript.png')
            | Typescript
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/bash.png')
            | Bash
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/powershell.png')
            | Powershell
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/mongodb.jpg')
            | Mongodb

    //- Libraries
    .card
      .card-content
        h4.brown-text.light Technical Skills
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/azure.png')
            | Azure
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/linux.png')
            | Linux
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/ansible.png')
            | Ansible
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/virtualization.png')
            | Virtualization
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/azdevops.jpg')
            | AzureDevops

    //- Other
    .card
      .card-content
        h4.brown-text.light Other
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/latex.png')
            | LaTeX
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/github.png')
            | Github
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/eclipse.png')
            | Eclipse
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/androidstudio.png')
            | Android Studio

